@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import viewmodels.InputWidth._

@this(
        layout: views.html.Layout,
        formHelper: FormWithCSRF,
        govukErrorSummary: GovukErrorSummary,
        govukInput: GovukInput,
        govukButton: GovukButton,
        govukBackLink: GovukBackLink,
        govukHint: GovukHint,
)

@(form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("Create")), isWelshTranslationAvailable = true) {

    @govukBackLink(BackLink(href = routes.HomeController.index().url))

    @formHelper(action = routes.HeroController.create(), 'autoComplete -> "off") {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form))
        }

        <style>
                .sup-nav {
                    display: flex;
                    justify-content: space-between;
                    padding: 1rem 2rem;
                    background: #cfd8dc;
                }
                .sup-nav ul li a:hover{
                    color: #fff;
                    cursor: crosshair;
                }

        </style>

        <div class="govuk-width-container">

            <nav class="hmrc-language-select sup-nav">
                <ul class="hmrc-language-select__list">
                    <li class="hmrc-language-select__list-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="hmrc-language-select__list-item" href="/login">
                        <a href="viewsuperheros">View Superheroes</a>
                    </li>
                </ul>
            </nav>


            <main class="govuk-main-wrapper">

                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <h1 class="govuk-heading-xl">Create a Superhero</h1>
                        <div class="govuk-inset-text">
                            “Everything you can imagine is real.”
                            <br>
                            <br>
                            Now go and create a Superhero and get ready to battle!
                        </div>
                    </div>
                </div>

        @govukInput(Input(
            id = "name",
            name = "name",
            label = Label(content = Text("Superhero name")),
            value = form("name").value,
            errorMessage = form("name").error.map(err => ErrorMessage(content = Text(messages(err.message, err.args: _*)))),

        ))

        <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="event-name">
                Slogan
            </label>
            </h1>
            <input class="govuk-input" id="event-name" name="event-name" type="text">
        </div>

        @govukInput(Input(
            id = "img",
            name = "img",
            label = Label(content = Text(messages("img"))),
            value = form("img").value,
            errorMessage = form("img").error.map(err => ErrorMessage(content = Text(messages(err.message, err.args: _*)))),

        ))

        @govukInput(Input(
            id = "power",
            name = "power",
            label = Label(content = Text(messages("Power"))),
            value = form("power").value,
            errorMessage = form("power").error.map(err => ErrorMessage(content = Text(messages(err.message, err.args: _*)))),

        ))


        @govukInput(Input(
            id = "intellect",
            name = "intellect",
            label = Label(content = Text(messages("Intellect"))),
            value = form("intellect").value,
            errorMessage = form("intellect").error.map(err => ErrorMessage(content = Text(messages(err.message, err.args: _*)))),

        ))

        @govukInput(Input(
            id = "charisma",
            name = "charisma",
            label = Label(content = Text(messages("charisma"))),
            value = form("charisma").value,
            errorMessage = form("charisma").error.map(err => ErrorMessage(content = Text(messages(err.message, err.args: _*)))),

        ))


        @govukInput(Input(
            id = "speed",
            name = "speed",
            label = Label(content = Text(messages("Speed"))),
            value = form("speed").value,
            errorMessage = form("speed").error.map(err => ErrorMessage(content = Text(messages(err.message, err.args: _*)))),

        ))





        @govukButton(
            ButtonViewModel(messages("continue"))
        )
    }
}

</main>
</div>
