@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.govukfrontend.views.Aliases.Button

@this(govukSelect: GovukSelect, govukButton: GovukButton, govukFieldset: GovukFieldset, govukInput: GovukInput)

<style>
.sup-nav {
display: flex;
justify-content: space-between;
    padding: 1rem 2rem;
    background: #cfd8dc;
}
.sup-nav ul li a:hover{
    color: #fff;
    cursor: crosshair;
}

</style>

<div class="govuk-width-container">

    <nav class="hmrc-language-select sup-nav">
        <ul class="hmrc-language-select__list">
            <li class="hmrc-language-select__list-item">
                <a href="/">Home</a>
            </li>
            <li class="hmrc-language-select__list-item">
                <a href="/create">Create Superheroes</a>
            </li>
        </ul>
    </nav>

    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Superheros</h1>
                <div class="govuk-inset-text">
                    You've found us
                </div>
            </div>
        </div>
        <div>
            Test Text
        </div>




    </main>
</div>

